<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.syntax.android.buah">

  <application
    android:name="com.syntax.android.buah.app.BuahApplication"
    android:allowBackup="false"
    android:icon="@drawable/ic_launcher_background"
    android:label="@string/app_name"
    android:roundIcon="@drawable/ic_launcher_background"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">
    <activity
      android:name="com.syntax.android.buah.view.utama.MainActivity"
      android:label="@string/app_name"
      android:launchMode="singleTop"
      android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.syntax.android.buah.view.detail.DetailActivity"
      android:parentActivityName="com.syntax.android.buah.view.utama.MainActivity" />
  </application>

</manifest>